<h2>Lista Auditorios
    <input type="text">
</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>nombre</th>
            <th>enteDeControl</th>
            <th>fechaDeInicio</th>
            <th>fechaDeFinalizacion</th>
            <th>estado</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let auditoria of auditoria">
            <td>{{ auditoria.nombre}}</td>
            <td>{{ auditoria.enteDeControl }}</td>
            <td>{{ auditoria.fechaDeInicio }}</td>
            <td>{{ auditoria.fechaDeFinalizacion }}</td>
            <td>{{ auditoria.estado }}</td>

            <td>
                <button (click)= "actualizarAuditoria(auditoria.id)" class="btn btn-info">Editar</button>
                <button (click)= "eliminarAuditoria(auditoria.id)" class="btn btn-danger" style="margin-left : 10px;">Eliminar</button>
            </td>
        </tr>

    </tbody>
</table>
