<h2>Lista Auditorios
    <input type="text">
</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>idAuditorias</th>
            <th>nombre</th>
            <th>enteDeControl</th>
            <th>fechaDeInicio</th>
            <th>fechaDeFinalizacion</th>
            <th>estado</th>
        </tr>

    </thead>
    <tbody>

        <tr *ngFor="let auditoria of auditoria">
            <td>{{auditoria.idAuditorias}}</td>
            <td>{{ auditoria.nombre}}</td>
            <td>{{ auditoria.enteDeControl }}</td>
            <td>{{ auditoria.fechaDeInicio }}</td>
            <td>{{ auditoria.fechaDeFinalizacion }}</td>
            <td>{{ auditoria.estado }}</td>

            <td>
                <button (click)="actualizarAuditoria(auditoria.idAuditorias)" class="btn btn-info">EDITAR</button>
                <button (click)="eliminarAuditoria(auditoria.idAuditorias)" class="btn btn-info" style="margin-left: 10px">ELIMINAR</button>
            </td>
        </tr>

    </tbody>
</table>
